<html>
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/navbar") %>
        <div class="container m-4">
            <h1><%= title %></h1>

            <h2>Hi! <%= userData.name %></h2>

            <p><%= subTitle %></p>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>user</th>
                            <th>score</th>
                        </tr>
                        <% user_game_history.forEach(i => { %>
                        <tr>
                               <td><%= i.user_id %></td>
                               <td><%= i.score %></td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>